* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background: #f7f7f7;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.logo {
  color: #ff7214;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 900;
  text-decoration: none;
  margin: 30px 50px;
}
.logo:hover {
  color: #112e41;
  transition-duration: .3s;
}
.cart-button {
  width: 130px;
  height: 40px;
  border-radius: 50px;
  background: #ff7214;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 40px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: none;
}
.cart-button:hover {
  background: #112e41;
  transition-duration: .3s;
}
.cart-button_width {
  width: 100%;
  border-radius: 50px;
  background: #ff7214;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.cart-button_width:hover {
  background: #112e41;
  transition-duration: .3s;
}
.cart{
  position: relative;
  display: flex;
}
.cart-block{
  box-shadow: 0px 10px 40px 0px rgba(139, 94, 255, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  left: 30px;
  top: 80px;
  position: absolute;
  background-color: white;
  padding: 20px;
  min-width: 300px;
  z-index: 6;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #112e41;
  display: none;
}
.cart-block:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 55px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.cart-block p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ff7214;
}
.cart-item {
  height: 75px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
.cart-item button {
  width: 22px;
  height: 22px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #2f2a2d;
  border: none;
  cursor: pointer;
  outline: none;
}
.add-button {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background: #112e41;
  color: #fff;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
} 
.add-button:hover {
  background: #ff7214;
  transition-duration: .3s;
}
.add-button:focus {
  outline: none;
}
.menu {
  display: flex;
  list-style-type: none;
  margin: 30px;
  align-items: center;
  justify-content: center;
}
.menu a {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ff7214;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
}
.menu a:hover {
  color: #112e41;
  transition-duration: .3s;
}
.goods-list {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  justify-content: space-between;
  grid-gap: 40px;
}
.good-list {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: space-between;
  grid-gap: 40px;
  background: #fff;
  border: 5px solid #f6f7fb;
  border-radius: 5px;
  text-align: center;
  padding: 50px 23px;
}
.good-list:hover {
  border: 5px solid #fff;
  box-shadow: 0px 10px 40px 0px rgba(139, 94, 255, 0.1);
  transition-duration: 0.3s;
}
.goods-item {
  background: #fff;
  border: 5px solid #f6f7fb;
  border-radius: 5px;
  text-align: center;
  padding: 50px 23px;
}
.goods-item:hover {
  border: 5px solid #fff;
  box-shadow: 0px 10px 40px 0px rgba(139, 94, 255, 0.1);
  transition-duration: 0.3s;
}
.goods-item img {
  width: 70%;
}
.goods-item a {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #112e41;
  margin: 30px 0;
  text-decoration: none;
}
.goods-item h3 {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #112e41;
  margin: 30px 0;
  text-decoration: none;
}
.goods-item p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ff7214;
  letter-spacing: 1px;
}
.heading {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #112e41;
  margin: 30px 0;
}
.price {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ff7214;
  letter-spacing: 1px;
}
.description {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #112e41;
  letter-spacing: 1px;
  line-height: 1.5;
}
._margin {
  margin: 30px;
}
._margin-top {
  margin-top: 30px;
}
.text-right {
  text-align: justify;
}
.data {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #112e41;
  letter-spacing: 1px;
  text-align: right;
}
.form-box {
  background: #f7f7f7;
  display: grid;
  grid-template-columns: 1fr auto;
}
.form-box textarea, input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ff7214;
  letter-spacing: 1px;
}
/* registered page */
.register {
  padding: 5em 0;
}

.register h2 {
  text-align: center;
  color: #112e41;
  padding-bottom: .5em;
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: sans-serif;
}

.register h2:after {
  content: '';
  background: #ff7214;
  height: 2px;
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 43%;
}

.login-form-grids {
  width: 400px;
  padding: 3em;
  background: #F7F7F9;
  margin: 3em auto 0;
}



.login-form-grids h5, .login-form-grids h6 {
  font-size: 1em;
  color: #112e41;
  text-transform: uppercase;
  margin: 0 0 2em;
}

.login-form-grids input[type="email"], .login-form-grids input[type="password"], .login-form-grids input[type="text"] {
  outline: none;
  border: 1px solid #DBDBDB;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  color: #999;
  display: block;
  width: 100%;
}
.login-form-grids textarea {
  outline: none;
  border: 1px solid #DBDBDB;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  color: #999;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
.login-form-grids input[type="text"] {
  margin: 1em 0;
}


.register-check-box label {
  font-size: 14px;
  font-weight: 500;
  color: #999;
  margin: 1.5em 0 0 0em;
}

.checkbox {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  display: block;
}



.checkbox input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
}

input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.login-form-grids h6 {
  margin: 3em 0 2em;
}
.login-form-grids input[type="password"] {
  margin: 1em 0 0;
}

.login-form-grids input[type="submit"], .send-email {
  outline: none;
  border: none;
  padding: 10px 0;
  font-size: 1em;
  color: #fff;
  display: block;
  width: 100%;
  background: #ff7214;
  margin: 1.5em 0 0;
  border-radius: 5px;
  cursor: pointer;
}
.send-email:hover {
  background: #112e41;
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
}

input[type="submit"] {
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
}

.login-form-grids input[type="submit"]:hover {
  background: #112e41;
}

.register-home {
  margin: 2em 0 0;
  text-align: center;
}

.register-home a {
  padding: 8px 45px;
  background: #9F9F9F;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.register-home a:hover {
  background: #00BFA5;
}
/* LOGIN PAGE */
.login {
  margin: 5em 0;
}

.login h2 {
  text-align: center;
  color: #112e41;
  padding-bottom: .5em;
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: sans-serif;
}

.login h2:after {
  content: '';
  background: #ff7214;
  height: 2px;
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 43%;
}

.login h4 {
  margin: 2em 0 0.5em;
  font-size: 1.5em;
  color: #212121;
  text-align: center;
  text-transform: uppercase;
}

.login p {
  font-size: 14px;
  color: #112e41;
  font-family: sans-serif;
  
  line-height: 1.8em;
  margin: 0;
  text-align: center;
}

.login p a {
  color: #00BFA5;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 .5em;
}

.login p a:hover {
  color: #2b2a2a;
}
/* CART */
.minicart-showing .minicart  {
  display: block;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  animation: pop-in 0.25s;
  -webkit-animation: pop-in 0.25s;
  -moz-animation: pop-in 0.25s;
}


.main_cart {
  width: 600px;
  margin: 50px auto;
  padding: 10px 20px 40px;
  background: #fff;
  border: 5px solid #f6f7fb;
  border-radius: 5px;
  font: 15px/normal arial, helvetica;
  color: #112e41;
  text-transform: uppercase;
}

.minicart .minicart-closer {
  float: right;
  margin: -12px -10px 0;
  padding: 10px;
  background: 0;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.minicart  ul {
  margin: 5px 0 50px;
  padding: 10px;
  list-style-type: none;
}

.minicart ul {
  width: 100% !important;
}

.minicart .minicart-item {
  clear: left;
  padding: 6px 0;
}

.minicart .minicart-item {
  min-height: 60px !important;
}

.minicart .minicart-details-name {
  float: left;
  width: 60%;
}

.minicart .minicart-item a {
  color: #112e41 !important;
  font-size: 1em;
  display: block;
  margin-bottom: .5em;
  text-transform: capitalize;
  text-decoration: none;
}

.minicart .minicart-attributes {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #999;
  font-size: 12px;
  line-height: 22px;
}

.minicart .minicart-attributes li {
  display: inline;
  color: #999;
}

.minicart .minicart-attributes li:last-child:after {
  content: "";
}

.minicart .minicart-details-quantity {
  float: left;
  width: 20%;
}

.minicart .minicart-quantity {
  width: 35px;
  height: 20px;
  padding: 2px 4px;
  font-size: 13px;
  text-align: center;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

.minicart .minicart-details-remove {
  float: left;
  width: 7%;
}

.minicart .minicart-remove {
  width: 18px;
  height: 19px;
  margin: 2px 0 0;
  padding: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.minicart .minicart-remove {
  background: #ff7214 !important;
  border: 1px solid #ff7214 !important;
  opacity: 1 !important;
  outline: none;
}

.minicart.minicart-details-price {
  float: left;
  width: 16%;
  text-align: right;
}

.minicart .minicart-footer {
  clear: left;
}

.minicart .minicart-footer {
  position: relative;
  width: 80%;
}

.minicart .minicart-subtotal {
  left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.minicart .minicart-subtotal {
  bottom: -17px !important;
}
.minicart-subtotal {
  margin: 15px 0;
  color: #ff7214;
}

.cart_header {
  color: #112e41;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}

.minus, .plus {
  margin: 0px 5px;
  height:20px;
  background: #fff;
  padding: 0 4px;
  border: none;
  color: #ff7214;
  font-size: 20px;
  cursor: pointer;
}

.fa {
  margin-top: 8px;
}
.footer-copy {
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 900;
  color: #112e41;
}
.goods-out select {
  width: 100%;
  height: 30px;
  outline: none;
  margin-bottom: 15px;
}