html,
body {
  min-height: 100%;
}

.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

@media all and (min-width: 0) and (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0;
  }
}

.padding-site {
  padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .padding-site {
    padding: 15px;
  }
}

body {
  font-family: Helvetica, sans-serif;
}

ul {
  padding: 0;
}

header {
  background-color: #445161;
  color: #fff;
}

.Product_name {
  margin: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  font-weight: 100;
}

@media (max-width: 479px) {
  header .Product_name {
    font-size: 46px;
  }
}

.Product_name_list {
  list-style: inside url(img/check_icon.png);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
}

.header_img {
  width: 100%;
}

.About_product {
  margin: 0 0 30px 0;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
}

.about_text {
  margin: 0 0 20px 0;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

.heading {
  margin: 0 0 30px 0;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.Dignity {
  background-color: #f5f5f5;
}

@media (min-width: 992px) {
  .Dignity div[class^="col-"]:not( :nth-child(-n+2)) {
    margin-top: 36px;
  }
}

.plus {
  background: url(img/3-layers.png) no-repeat left 5px;
  padding-left: 45px;
  text-align: justify;
}

@media (max-width: 479px) {
  .plus {
    background-position: center top;
    padding-bottom: 40px;
    padding-left: 0;
    text-align: left;
    padding-top: 45px;
  }
}

@media (min-width: 992px) {
  .Scrinshots:not( :nth-child(-n+2)) {
    margin-top: 36px;
  }
}

@media all and (min-width: 0) and (max-width: 991px) {
  .Scrinshots:not(:first-child) {
    margin-top: 30px;
  }
}

.Scrinshot {
  float: left;
  margin-right: 15px;
}

@media (max-width: 479px) {
  .Scrinshot {
    float: none;
  }
}

.Scrinshot-heading {
  margin: 0 0 10px 0;
  color: #445161;
  font-size: 24px;
  font-weight: 400;
}

.Reviews {
  background-color: #f5f5f5;
}

.userpic {
  border-radius: 50%;
  float: right;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .userpic {
    display: block;
    float: none;
    margin: 0 auto 15px auto;
  }
}

.userpic-text {
  background-color: #ebebeb;
  padding: 16px 20px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  position: relative;
}

.userpic_name {
  margin: 15px 0 0 0;
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 992px) {
  .Review:not( :nth-child(-n+2)) {
    margin-top: 36px;
  }
}

@media all and (min-width: 0) and (max-width: 991px) {
  .Review:not(:first-child) {
    margin-top: 30px;
  }
}

.romb {
  content: '';
  width: 20px;
  height: 20px;
  background: #ebebeb;
  transform: rotate(45deg);
  position: absolute;
  left: 5px;
  top: 27px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .romb {
    top: -10px;
    left: calc(50% - 10px);
  }
}

.buy_unit {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .buy_unit {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media all and (min-width: 0) and (max-width: 991px) {
  .buy_box:not(:last-child) {
    margin-bottom: 30px;
  }
}

.buy_box {
  background: #445161;
  border-radius: 4px;
  border: 2px solid #445161;
}

.heading_buy {
  text-align: center;
  margin: 17px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.price {
  color: #445162;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 18px;
  background: #fff;
}

.description_buy {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}

.button {
  width: 260px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #445161;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  margin: 0 20px 20px;
  text-decoration: none;
}

footer {
  background-color: #445161;
  color: #fff;
}

.contacs {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 31px;
}

.contacts_content form input[type="text"],
.contacts_content form textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 21px;
  padding: 7px 5px;
  box-sizing: border-box;
  color: #445161;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.contacts_content form textarea {
  font-family: inherit;
  min-height: 170px;
}

.contacts_content form input[type="submit"] {
  border-radius: 5px;
  background-color: #ffffff;
  width: 140px;
  height: 40px;
  text-align: center;
  color: #445161;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

.network {
  padding-left: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.network_icon {
  font-size: 30px;
  margin: 0 10px 20px 0;
}

.socials {
  padding-left: 10px;
}

.social-list {
  float: left;
  height: 42px;
  width: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  background-color: #fff;
  margin: 5px;
  list-style-type: none;
}

.social_link {
  font-size: 20px;
  color: #445161;
  display: block;
}

.copy {
  height: 26px;
  text-align: center;
  color: #445161;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
}