body {
  margin: 50px auto;
  background: #ccc;
}

#chess {
  width: 400px;
  background: #FFF;
  flex-wrap: wrap;
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
}

.square.light {
  background: rgb(211, 190, 96);
}

.square.dark {
  background: rgb(139, 78, 50);
}

.square.active {
  background: green;
}
