body {
  background: #ccc;
}

#chess {
  width: 560px;
  height: 560px;
  margin: 50px auto;
  border: 1px solid #000;
}

.block {
  width: 70px;
  height: 70px;
  float: left;
  text-align: center;
  line-height: 60px;
  font-size: 70px;
}

.black {
  background: #454545;
}

.white {
  background: #fff;
}

.red {
  background: rgb(182, 22, 16);
}