{% include 'header.html' %}
<main class="wrap">
  <div class="goods-list _margin">
  {% for product in content_data %}
    <div class="goods-item">
      <a href="index.php?path=categories/goods&id={{ product.id }}"><img src="img/{{ product.img }}"></a>
      <a href="index.php?path=categories/goods&id={{ product.id }}"><h3>{{ product.title }}</h3></a>
      <p>{{ product.price }} ₽</p>
      <a href="#" id="buyme" class="cart-button buyme _margin-top" data-id="{{ product.id }}">Купить</a>
    </div>
  {% endfor %}
  </div>
  <a href="?limit={{ limited + 5 }}" class="show-more">Показать ещё</a>
</main>
{% include 'footer.html' %}