{% include 'header.html' %}
<main class="wrap">
  <div class="good-list _margin">
    <img src="img/{{ content_data.img_2 }}">
    <div class="">
      <h3 class="heading">{{ content_data.title }}</h3>
      <p class="price">{{ content_data.price }} ₽</p>
      <p class="text-right description _margin-top">{{ content_data.description }}</p>
      <a href="#" class="cart-button buyme _margin-top" data-id="{{ content_data.id }}">Купить</a>
    </div>
  </div>  
</main>
{% include 'footer.html' %}