* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.button {
  box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
  background-color: #1a9bdc;
}

.button:hover {
  background-color: #37c3a8;
}

.container {
  width: 1640px;
  margin: 0 auto;
  padding: 0;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .container {
    width: 100%;
  }
}



.padding-site {
  padding: 0 10%;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .padding-site {
    padding: 0 15px;
  }
}

.header-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 2px solid #f1f1f1;
  margin-top: 40px;
  padding-bottom: 30px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .header-top {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .header-top {
    grid-template-columns: 1fr;
  }
}

.header-top__box {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .header-top__box {
    justify-content: flex-start;
    margin-top: 15px;
  }
}

.header-top__text-bolt {
  color: #6a6a6a;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
}

.header-top__text {
  color: #6a6a6a;
  font-size: 15px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}

.header-top__icon {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  font-size: 30px;
  float: left;
  background-color: #1a9bdc;
  color: #fff;
  text-align:center;
  padding-top: 10px;
  margin-right: 16px;
}

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media all and (min-width: 0) and (max-width: 991px) {
  nav {
    grid-template-columns: 1fr;
  }
}

.navBar {
  display: flex;
}

.navBar__list {
  margin: 33px 20px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .navBar__list {
    margin: 33px 15px;
  }
}

.navBar__link {
  font-family: 'Poppins', sans-serif;
  color: #6c6c6c;
  font-size: 20px;
}

.navBar__link:hover {
  color: #262626;
}

.header-social-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .header-social-icon {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
}

.header-social-icon__link {
  color: #191919;
  font-size: 23px;
  margin: 10px;
}

.header-social-icon__link:hover {
  color: #37c3a8;
}

.home-page {
  height: 640px;
  background: url(img/2-layers.jpg) no-repeat;
  overflow: hidden;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .home-page {
    height: 540px;
    background: url(img/2-layers.jpg) center;
  }
}

.home-page__text-box {
  width: 550px;
  margin: 180px 0 0 250px;
  text-align: center;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .home-page__text-box {
    margin: 100px 0 0 50px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-page__text-box {
    width: 450px;
    margin: 50px 0 0 20px;
  }
}

.home-page__heading {
  color: #474747;
  font-size: 48px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.19px;
  margin-bottom: 37px;
}

.home-page__text {
  color: #3f3f3f;
  font-size: 17px;
  margin-bottom: 42px;
}

.home-page__btn {
  width: 166px;
  height: 47px;
  border-radius: 28px;
  display: inline-block;
  line-height: 47px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}

.home-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .home-info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info {
    grid-template-columns: repeat(1, 1fr);
  }
}

.home-info-box-1 {
  background-color: #43b1d2;
  width: 100%;
}

.home-info-box-2 {
  background-color: #3fb6c6;
  width: 100%;
}

.home-info-box-3 {
  background-color: #3cbbbb;
  width: 100%;
}

.home-info-box-4 {
  background-color: #37c3a8;
  width: 100%;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-1 {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-2 {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-3 {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-4 {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    align-items: center;
    text-align: center;
  }
}

.home-info-box-1:before {
  content: "";
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-image: url(img/Vector_Smart_Objec-1.svg);
  margin: 77px 0 23px;
}

.home-info-box-2:before {
  content: "";
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-image: url(img/Vector_Smart_Object-2.svg);
  margin: 77px 0 23px;

}

.home-info-box-3:before {
  content: "";
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-image: url(img/Vector_Smart_Object-3.svg);
  margin: 77px 0 23px;
}

.home-info-box-4:before {
  content: "";
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-image: url(img/Vector_Smart_Object-4.svg);
  margin: 77px 0 23px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-1:before {
    margin: 15px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-2:before {
    margin: 15px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-3:before {
    margin: 15px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info-box-4:before {
    margin: 15px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info__heading {
    margin: 0;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info__heading {
    margin: 0;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info__heading {
    margin: 0;
  }
}

.home-info__heading {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 29px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info__heading {
    margin: 0;
  }
}

.home-info__text {
  color: #fff;
  font-size: 16px;
  width: 250px;
  display: inline-block;
  margin-bottom: 57px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .home-info__text {
    width: 300px;
    margin: 0;
  }
}

.about-page {
  display: grid;
  justify-items: center;
  align-items: flex-end;
  grid-template-columns: 1fr 337px 1fr;
  grid-template-areas:
    "h2 h2 h2"
    "p p p "
    "Professional-1 div Professional-2"
    "Professional-3 div Professional-4";
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .about-page {
    grid-template-columns: 1fr 337px;
    grid-template-areas:
      "h2 h2"
      "p p"
      "Professional-1 div"
      "Professional-3 div"
      "Professional-2 div"
      "Professional-4 div";
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .about-page {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h2"
      "p"
      "Professional-1"
      "Professional-3"
      "Professional-2"
      "Professional-4";
  }
}

.about-page__heading {
  grid-area: h2;
}

.about-page__text {
  grid-area: p;
}

.about-page__img {
  grid-area: div;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .about-page__img {
    display: none;
  }
}

.Professional-1 {
  grid-area: Professional-1;
  padding-right: 81px;
}

.Professional-2 {
  grid-area: Professional-2;
  padding-left: 81px;
}

.Professional-3 {
  grid-area: Professional-3;
  padding-right: 81px;
}

.Professional-4 {
  grid-area: Professional-4;
  padding-left: 81px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .Professional-1, .Professional-2, .Professional-3, .Professional-4 {
    padding: 0 0 0 15px;
  }
}

.about-page__heading {
  color: #494949;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 111px 0 31px;
}

.about-page__text {
  color: #6a6a6a;
  font-size: 16px;
  width: 878px;
  text-align: center;
  margin-bottom: 25px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .about-page__text {
    width: 100%;
  }
}

@media all and (min-width: 0) and (max-width: 991px) {
  .about-page__text {
    margin-bottom: 45px;
  }
}

.Professional-heading {
  color: #6f6f6e;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  display: flex;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .Professional-heading {
    display: grid;
    justify-content: center;
  }
}

.Professional-text {
  color: #6a6a6a;
  font-size: 16px;
  margin: 20px 0 72px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .Professional-text {
    margin: 20px 0 32px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .Professional-text {
    text-align: center;
    margin-bottom: 25px;
  }
}

.Professional-heading:before {
  content: "";
  width: 75px;
  height: 75px;
  background-color: #1a9bdc;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 35px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .Professional-heading:before {
    display: inline-block;
    margin-right: 35px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .Professional-heading:before {
    display: inline-block;
    margin-right: 0;
    justify-self: center;
  }
}

.P-img-1::before {
  background-image: url(img/Vector_Smart_Object-1.1.png);
}

.P-img-2::before {
  background-image: url(img/Vector_Smart_Object-2.1.png);
}

.P-img-3::before {
  background-image: url(img/Vector_Smart_Object-3.1.png);
}

.P-img-4::before {
  background-image: url(img/Vector_Smart_Object-4.1.png);
}

.about-btn {
  background: url(img/3-layers.jpg) no-repeat;
  height: 592px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .about-btn {
    background: url(img/3-layers.jpg) right;
    height: 592px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.number {
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 26px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .number {
    font-size: 30px;
    margin: 0;
  }
}

.number::after {
  content: "";
  width: 85px;
  height: 6px;
  margin-top: 26px;
  background-color: #fff;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .number::after {
    width: 65px;
    height: 3px;
    margin-top: 10px;
  }
}

.number::before {
  content: "";
  width: 91px;
  height: 91px;
  display: inline-block;
  margin-bottom: 41px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .number::before {
    width: 91px;
    height: 91px;
    margin-bottom: 11px;
  }
}

.number-1::before {
  background: url(img/Vector_Smart_Objec-1.2.png) no-repeat;
}

.number-2::before {
  background: url(img/Vector_Smart_Object-2.2.png) no-repeat;
}

.number-3::before {
  background: url(img/Vector_Smart_Object-3.2.png) no-repeat;
}

.number-4::before {
  background: url(img/Vector_Smart_Object-4.2.png) no-repeat;
}

.number-text {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  width: 200px;
}

.Services-page {
  display: grid;
  grid-gap: 40px 50px;
  margin-top: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "Services-heading-1 Services-heading-1 Services-heading-2"
    "Services-text-1 Services-text-1 Services-text-2 "
    "services-img-1 services-img-2 services-ul"
    "services-btn services-btn services-ul";
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .Services-page {
    grid-gap: 30px;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      ". Services-heading-1 Services-heading-1 ."
      ". Services-text-1 Services-text-1 ."
      ". services-img-1 services-img-2 ."
      ". services-btn services-btn ."
      ". Services-heading-2 Services-heading-2 ."
      ". Services-text-2 Services-text-2 ."
      ". services-ul services-ul .";
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .Services-page {
    grid-gap: 30px;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "Services-heading-1 Services-heading-1"
      "Services-text-1 Services-text-1"
      "services-img-1 services-img-2"
      "services-btn services-btn"
      "Services-heading-2 Services-heading-2"
      "Services-text-2 Services-text-2"
      "services-ul services-ul";
  }
}

.Services-page .services-btn {
  justify-self: center;
}

.Services-heading-1 {
  grid-area: Services-heading-1;
  color: #494949;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.Services-heading-2 {
  grid-area: Services-heading-2;
  color: #494949;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .Services-heading-1, .Services-heading-2 {
    text-align: center;
  }
}

.Services-text-1 {
  grid-area: Services-text-1;
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 2;
}

.Services-text-2 {
  grid-area: Services-text-2;
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 2;
  width: 95%;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .Services-text-1, .Services-text-2 {
    text-align: justify;
  }
}

.services-img-1 {
  grid-area: services-img-1;
  width: 335px;
}

.services-img__heading {
  color: #6f6f6e;
  font-size: 20px;
  font-weight: 500;
  margin-top: 35px;
}

.services-img__text-1 {
  color: #0087be;
  font-size: 15px;
  font-weight: 500;
  margin-top: 13px;
}

.services-img__text-2 {
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 400;
  margin-top: 27px;
  line-height: 2;
}

.services-img-2 {
  grid-area: services-img-2;
  width: 335px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .services-img-1, .services-img-2, .img-services {
    width: 100%;
  }
}

.services-ul {
  grid-area: services-ul;
  margin-bottom: 15px;
}

.services-btn {
  grid-area: services-btn;
  text-align: center;
  width: 154px;
  height: 43px;
  display: inline-block;
  line-height: 43px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.services-list {
  border-radius: 30px;
  background-color: #e2e2e2;
  line-height: 54px;
  color: #494949;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.services-list::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icons8-sort-right-20.png);
  display: inline-block;
  margin: 0 20px 0 6px;
}

.active {
  background-color: #0087be;
  color: #fff;
}

.padding-btn {
  margin-bottom: 40px;
}

.Gallery-page {
  height: 826px;
  overflow: hidden;
  text-align: center;
  background: url(img/4-layers.jpg) no-repeat;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .Gallery-page {
    height: 100%;
    background: url(img/4-layers.jpg) center;
    padding-bottom: 15px;
  }
}

.Gallery-heading {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-top: 94px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .Gallery-heading {
    margin-top: 24px;
  }
}

.Gallery-text {
  color: #fff;
  font-size: 16px;
  line-height: 2;
  margin-top: 38px;
}

.Gallery-ul {
  display: grid;
  grid-template-columns: repeat(3, 344px);
  grid-gap: 35px;
  text-align: center;
  margin-top: 54px;
  justify-content: center;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .Gallery-ul {
    grid-template-columns: repeat(2, 350px);
    grid-gap: 10px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .Gallery-ul {
    grid-template-columns: repeat(2, 250px);
    grid-gap: 5px;
  }
}

.blog-page {
  text-align: center;
  overflow: hidden;
}

.blog-heading {
  color: #494949;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-top: 148px;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .blog-heading {
    margin-top: 38px;
  }
}

.blog-text {
  color: #6a6a6a;
  font-size: 16px;
  line-height: 2;
  margin-top: 50px;
  width: 1095px;
  display: inline-flex;
  justify-content: center;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .blog-text {
    width: 100%;
  }
}

.blog-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 84px 0 134px 0;
  justify-items: center;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .blog-img {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 75px;
    margin-bottom: 30px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .blog-img {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px 10px;
    margin-bottom: 30px;
  }
}

.man__heading {
  color: #6f6f6e;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.man__heading::before {
  content: "";
  width: 279px;
  height: 279px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-bottom: 29px;
}

.man-1::before {
  background-image: url(img/Layer_7.png);
}

.man-2::before {
  background-image: url(img/Layer_4.png);
}

.man-3::before {
  background-image: url(img/Layer_6.png);
}

.man-4::before {
  background-image: url(img/Layer_5.png);
}

.man__text {
  color: #6f6f6e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
}

.man__socials {
  display: inline-flex;
  justify-items: center;
  margin-top: 32px;
}

.socials-link {
  color: #0087be;
  font-size: 25px;
  font-weight: 400;
  margin: 0 10px;
}

.socials-link:hover {
  color: #37c3a8;
}

.blog-page-btn {
  background-color: #e2e2e2;
  text-align: center;
  display: flex;
  height: 176px;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .blog-page-btn {
    background-color: #e2e2e2;
    text-align: center;
    display: block;
    padding-top: 30px;
    height: 100%;
  }
}

.blog-btn-text {
  color: #494949;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.blog-btn {
  width: 192px;
  height: 54px;
  border-radius: 27px;
  line-height: 54px;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 77px;
  display: inline-block;
}

@media all and (min-width: 0) and (max-width: 991px) {
  .blog-btn {
    margin: 25px;
  }
}

.footer {
  background-color: #171717;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 115px;
  padding-bottom: 100px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-bottom: 50px;
    grid-gap: 60px 30px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 35px;
    padding-bottom: 50px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .footer-address {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 50px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .footer-address {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 0;
    text-align: center;
    margin-top: 25px;
  }
}

.footer-heading {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.contacts {
  opacity: 0.51;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 70px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .contacts {
    display: inline-block;
    margin: 25px;
  }
}

.contacts::before {
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  float: left;
  margin-right: 45px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .contacts::before {
    float: none;
    display: inherit;
    margin: 0;
  }
}

.icon-mail::before {
  background-image: url(img/Icon-mail.png);
}

.icon-mobile::before {
  background-image: url(img/Icon-mobile.png);
}

.icon-maps::before {
  background-image: url(img/Icon-maps.png);
}

.footer-social-icon {
  display: inline-flex;
  margin-top: 60px;
}

.footer-social-icon__link {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-right: 25px;
}

.footer-social-icon__link:hover {
  color: #37c3a8;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .footer-social-icon {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.footer-links {
  margin-left: 50px;
}

.footer-links__nav {
  margin-top: 60px;
  display: block;
  list-style-image: url(img/icons8-sort-right-20.png);
}

@media all and (min-width: 0) and (max-width: 991px) {
  .footer-links__nav {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.footer-link {
  opacity: 0.51;
  color: #fff;
  font-size: 16px;
  line-height: 2.8;
}

.footer-link:hover {
  text-decoration: underline;
  transition: 2s ease-in-out;
}

.footer-form__tipe {
  margin-top: 55px;
  display: grid;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .footer-form__tipe {
    margin-right: 50px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .footer-form {
    grid-row: 4/5;
    grid-column: 1/3;
    text-align: center;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
  .footer-form__tipe {
    margin-top: 0;
  }
}

input, textarea {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #c2c2c29c;
  opacity: 0.51;
  color: #fff;
  font-size: 16px;
  height: 60px;
}

textarea {
  resize: none;
  height: 150px;
  padding-top: 20px;
  margin-bottom: 24px;
}

.form-btn {
  width: 125px;
  height: 35px;
  border-radius: 25px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .form-btn {
    justify-self: center;
  }
}

.Copyright {
  background-color: #1a1a1a;
  height: 130px;
  text-align: center;
  color: #615555;
  font-size: 13px;
  display: grid;
  align-items: center;
}