<div class="container admin-container">
    <div class="login">
        <h2>Товар</h2>
        <div class="login-form-grids">
            <div class="goods-out"></div>
            <p>Название: <input type="text" id="good-name"></p>
            <p>Стоимость: <input type="text" id="good-price"></p>
            <p>Описание: <br><textarea id="good-desc"></textarea></p>
            <p>Изображение: <input type="text" id="good-img"></p>
            <input type="hidden" id="good-id">
            <input class="add-to-db" type="submit" name="submit" value="Обновить">
            
        </div>
        
    </div>
    
</div>