<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<div class="container">
    <header>
      <div class="wrap">
        <div class="cart">
          <a href="index.php" class="logo">{{ title }}</a>
          {# <a href="" class="user">Вход на сайт</a> #}
          <form action="#" method="post" class="last">
            <a class="cart-button _margin" href="index.php?path=order/add" type="button">Корзина</a>
          </form>
        </div>
      </div>
    </header>