.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #3b3b3b;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;

  &__title {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__link {
    color: #999;
    display: block;
  }

  & li {
    border-bottom: 1px solid #999;
    padding: 5px 0;
  }

  & li:first-child {
    padding-top: 0;
  }

  &__form {
    @include footerForm;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;;
  }

  &__button {
    @include footerForm;
    width: 80px;
    display: block;
    color: $mainColor;
    text-align: center;
    line-height: 31px;
    transition-duration: $time;
  }

  &__button:hover {
    color: #fff;
    background-color: $mainColor;
  }
}

.blog__title {
  font-weight: bold;
}

.blog__author {
  font-size: 11px;
  margin-bottom: 11px;
}

.blog__link {
  color: $mainColor;
  display: flex;
  justify-content: flex-end;
}

.copyright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60px;
  background-color: #2e2e2e;
  color: #737373;
  font-size: 12px;
  font-weight: 400;
  align-items: center;

  &-end {
    text-align: end;
  }
}