.info {
  padding-top: 50px;
  padding-bottom: 50px;

  &__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 27px;
    //border-bottom: $border;
    //padding-bottom: 50px;
  }

  &__title {
    color: $mainColor;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__img-group::before {
    @include infoImg(url(img/icon-group.png));
  }

  &__img-globe::before {
    @include infoImg(url(img/icon-globe.png));
  }

  &__img-cogs::before {
    @include infoImg(url(img/icon-cogs.png));
  }

  &__img-leaf::before {
    @include infoImg(url(img/icon-leaf.png));
  }

  &__description {
    @include font;
  }
}

.main__line {
  border-top: $border;
  margin: 0 30px 50px;
}