* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.padding-site {
  padding: 0 30px;
}

.header {
  border-top: 5px solid #81b300;
}
.header__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header__main > div {
  padding: 36px 0;
}
.header__nav {
  display: block;
  justify-self: end;
}

.logo {
  width: 277px;
  display: block;
}
.logo__title {
  color: #333;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 15px;
}
.logo__title::first-letter {
  font-size: 46px;
}
.logo__description {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials__list:not(:last-child) {
  margin-right: 16px;
}
.socials__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  color: #fff;
  background-color: #1f1f1f;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  transition-duration: 0.5s;
}
.socials__linkedin-bg:hover {
  background-color: #0288D1;
  transform: scale(1.2);
}
.socials__twitter-bg:hover {
  background-color: #00acee;
  transform: scale(1.2);
}
.socials__pinterest-bg:hover {
  background-color: #D32F2F;
  transform: scale(1.2);
}
.socials__google-bg:hover {
  background-color: #F4511E;
  transform: scale(1.2);
}
.socials__rss-bg:hover {
  background-color: #FF9800;
  transform: scale(1.2);
}
.socials_box {
  width: 251px;
  height: 49px;
  background-color: #81b300;
  border-radius: 0 0 15px 15px;
  margin-bottom: 37px;
  border-top: none;
}

.login-menu {
  display: flex;
}
.login-menu__list:not(:last-child):after {
  content: " | ";
  color: #81b300;
  white-space: pre;
}
.login-menu__link {
  color: #81b300;
  font-size: 12px;
  font-weight: 400;
  margin: 37px 0;
  transition-duration: 0.5s;
}
.login-menu__link:hover {
  color: #000;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 350px;
  background-color: #81b300;
  height: 70px;
  align-items: center;
}
.navBar div {
  justify-self: end;
  display: flex;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}
.nav-menu__link {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
  color: #fff;
  text-transform: uppercase;
  transition-duration: 0.5s;
}
.nav-menu__link:hover {
  color: #000;
}

.search-form {
  justify-self: end;
}
.search-form__input {
  width: 220px;
  height: 30px;
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 9px;
  border: 1px solid #e2e2e2;
  outline: none;
  float: left;
}
.search-form__button {
  width: 62px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  color: #81b300;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 31px;
  text-align: center;
  border: 1px solid #e2e2e2;
  transition-duration: 0.5s;
  border-left: none;
}
.search-form__button:hover {
  color: #fff;
  background-color: #81b300;
}

.slider {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 71px;
  border-bottom: 1px solid #e2e2e2;
}
.slider__box {
  height: 378px;
  padding: 9px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  position: relative;
}

.body_slides {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -2;
}

.body_slides,
.body_slides:after {
  position: static;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.body_slides:after {
  content: "";
}

.body_slides li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  animation: anim_slides 18s linear infinite 0s;
}

.body_slides li:nth-child(1) {
  background-image: url(img/img-1.jpg);
}

.body_slides li:nth-child(2) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  background-image: url(img/img-2.jpg);
}

.body_slides li:nth-child(3) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  background-image: url(img/img-3.jpg);
}
@-webkit-keyframes anim_slides {
  0% {opacity:0;}
  6% {opacity:1;}
  24% {opacity:1;}
  30% {opacity:0;}
  100% {opacity:0;}
  }
  @-moz-keyframes anim_slides {
  0% {opacity:0;}
  6% {opacity:1;}
  24% {opacity:1;}
  30% {opacity:0;}
  100% {opacity:0;}
  }
.info {
  margin-top: 50px;
}
.info > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 27px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 50px;
}
.info__title {
  color: #81b300;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info__title-group::before {
  content: "";
  width: 71px;
  height: 71px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icon-group.png);
  margin-bottom: 20px;
}
.info__title-globe::before {
  content: "";
  width: 71px;
  height: 71px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icon-globe.png);
  margin-bottom: 20px;
}
.info__title-cogs::before {
  content: "";
  width: 71px;
  height: 71px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icon-cogs.png);
  margin-bottom: 20px;
}
.info__title-leaf::before {
  content: "";
  width: 71px;
  height: 71px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icon-leaf.png);
  margin-bottom: 20px;
}
.info__description {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}

.project {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  grid-gap: 20px;
  margin: 50px 0;
}
.project__img {
  padding: 5px;
  border: 1px solid #e2e2e2;
}
.project__title {
  color: #444;
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0 14px;
}
.project__description {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}
.project__link {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
  color: #81b300;
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #3b3b3b;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}
.footer__title {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer__description {
  margin-bottom: 30px;
}
.footer__link {
  color: #999;
  display: block;
}
.footer li {
  border-bottom: 1px solid #999;
  padding: 5px 0;
}
.footer li:first-child {
  padding-top: 0;
}
.footer__form {
  width: 100%;
  height: 31px;
  background-color: #1f1f1f;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer__button {
  width: 100%;
  height: 31px;
  background-color: #1f1f1f;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 80px;
  display: block;
  color: #81b300;
  text-align: center;
  line-height: 31px;
  transition-duration: 0.5s;
}
.footer__button:hover {
  color: #fff;
  background-color: #81b300;
}

.blog__title {
  font-weight: bold;
}

.blog__author {
  font-size: 11px;
  margin-bottom: 11px;
}

.blog__link {
  color: #81b300;
  display: flex;
  justify-content: flex-end;
}

.copyright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60px;
  background-color: #2e2e2e;
  color: #737373;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}
.copyright-end {
  text-align: end;
}