$mainColor: #81b300;
$time: .5s;
$transformScale: scale(1.2);
$border: 1px solid #e2e2e2;
@mixin font {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}
@mixin infoImg ($b-gImg) {
    content: "";
    width: 71px;
    height: 71px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: $b-gImg;
    margin-bottom: 20px;
}
@mixin footerForm {
  width: 100%;
  height: 31px;
  background-color: #1f1f1f;
  outline: none;
  border: none;
  border-radius: 5px;
}